@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("assets/images/background.jfif"); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire page */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
}

.card {
  width: 90%;
  max-width: 470px;
  color: #fff;
  margin: 20px auto 0;
  border-radius: 30px !important;
  padding: 20px 25px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #fff;
  color: #555;
  padding: 10px 25px;
  height: 50px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.search button img {
  width: 16px;
}

.pokemonCard {
  border: solid #000 1px;
}

.pokemonCard span {
  color: #fff;
}

.pokemonCard h4 {
  color: #fff;
}

.typeContainer {
  height: 40px;
}

.type-box {
  display: none;
  padding: 5px;
  border: 1px solid #e7e5e5;
  border-radius: 10px;
}

.imgCard {
  width: 400px;
  height: 400px;
}

.normal {
  background-color: beige;
  color: black;
}

.fire {
  background-color: orange;
  color: white;
}

.grass {
  background-color: green;
  color: white;
}

.water {
  background-color: blue;
  color: white;
}

.ice {
  background-color: lightblue;
  color: black;
}

.electric {
  background-color: gold;
  color: black;
}

.fighting {
  background-color: darkred;
  color: white;
}

.flying {
  background-color: skyblue;
  color: black;
}

.bug {
  background-color: yellowgreen;
  color: white;
}

.ghost {
  background-color: purple;
  color: white;
}

.rock {
  background-color: sienna;
  color: white;
}

.ground {
  background-color: burlywood;
  color: black;
}

.steel {
  background-color: silver;
  color: black;
}

.dark {
  background-color: darkgray;
  color: white;
}

.psychic {
  background-color: palevioletred;
  color: white;
}

.fairy {
  background-color: pink;
  color: black;
}

.dragon {
  background-color: teal;
  color: white;
}

.poison {
  background-color: darkviolet;
  color: white;
}
